@model LeaveSystemMVC.Models.sEmployeeModel
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Add Staff in Bulk"; }

<div class="col-md-10">
    <h3>@ViewBag.Title</h3>
    <hr />
    @Html.Partial("../_Message")

    @using (Html.BeginForm("Index", "aBulkAddStaff", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        //Below should not be empstartdate.... need to ask ma'am what to do here
        //this to be committed

        <div class="form-horizontal">
            <div class="col-md-offset-2 col-md-10">
                <input type="file" id="dataFile" name="upload" />
            </div>
        </div>
        <br /><br />
        <div class="form-horizontal">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" name="Index" value="Upload" class="btn btn-default" />
            </div>
        </div>

        

    }
</div>