 
<!-- Adding a department View -->

@model LeaveSystemMVC.Models.aDepartment
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <h4>Adding a Department</h4>

            <table style="margin:30px;width:100%;">
                <tr>
                    <td>
                        <div class="form-group"> 

                            <!--Displays a list of existing departments in the database-->

                            @Html.LabelFor(model => model.existingDepartmentName, "Existing Departments", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.existingDepartmentName, new SelectList(ViewBag.departmentNames))
                                @Html.ValidationMessageFor(model => model.existingDepartmentName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <table style="margin: 30px;">
                <tr>
                    <td>
                        <div class="form-group">

                            <!--Prompts user to enter the name of a new department to store in the database -->

                            @Html.LabelFor(model => model.departmentName, "New Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
                        </div>
                    </td>
                    <td>
                            <div class="form-group">
                                @Html.EditorFor(model => model.departmentName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.departmentName, "", new { @class = "text-danger" })
                            </div>    
                    </td>
                </tr>
            </table>
            
            <div class="form-group">

                <!--Prompts user to select one of the line managers for the newly entered department -->

                @Html.LabelFor(model => model.primaryLMID, "Line Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.primaryLMID, new SelectList(Model.linemanagerSelectionListOptions, "Key", "Value"))
                    @Html.ValidationMessageFor(model => model.primaryLMID, "", new { @class = "text-danger" })
                </div>
            </div>

             <div class="form-group">
             <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
             </div>
             </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
