<!-- Adding a department View -->

@model LeaveSystemMVC.Models.aDepartment
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h2>Adding a Department</h2>
    <hr />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Application Details</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <div class="form-horizontal">
                        <div class="row">
                            <!--Displays a list of existing departments in the database-->
                            <div class="col-md-6" style="white-space:nowrap">
                                @Html.LabelFor(model => model.existingDepartmentName, "Existing Departments", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.existingDepartmentName, new SelectList(ViewBag.departmentNames), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.existingDepartmentName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <br /><br />

                        <div class="row">

                            <!--Prompts user to enter the name of a new department to store in the database -->
                            <div class="col-md-6" style="white-space:nowrap">
                                @Html.LabelFor(model => model.departmentName, "New Department Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>

                            <div class="col-md-6">
                                @Html.EditorFor(model => model.departmentName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.departmentName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br /><br />

                        <div class="row">
                            <!--Prompts user to select one of the line managers for the newly entered department -->
                            <div class="col-md-6" style="white-space:nowrap">
                                @Html.LabelFor(model => model.primaryLMID, "Line Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.primaryLMID, new SelectList(Model.linemanagerSelectionListOptions, "Key", "Value"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.primaryLMID, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <br /><br />

                        <div class="form-group">
                            <div class="col-md-offset-4 col-md-10">
                                <input type="submit" value="Submit" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    }
    </div>





    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

