@model LeaveSystemMVC.Models.sLeaveModel
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Apply For Leave"; }

<div class="col-md-10">
    <h3>@ViewBag.Title</h3>
    <hr />
    @Html.Partial("../_Message")
    @{
        var leaveTypes = ViewData["LeaveTypes"] as Dictionary<int, string>;
        var selectedLeaveTypeID = (int)ViewData["SelectedLeaveTypeID"];
        var selectedLeaveTypeName = (string)ViewData["SelectedLeaveTypeName"];
    }

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="text-muted bootstrap-admin-box-title">Leave Details</div>
        </div>
              
        <div class="bootstrap-admin-panel-content">
            <div class="form-horizontal">
                @using (Html.BeginForm("Select", "LApplication", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-2" style="white-space:nowrap">
                            @Html.Label("Leave Type", htmlAttributes: new { @class = "control-label col-md-4" })
                        </div>

                        <div class="col-md-4">
                            @Html.DropDownList("selectedLeaveTypeID", new SelectList(leaveTypes, "Key", "Value"), new { @selected = selectedLeaveTypeID, @class = "form-control", @onchange = "this.form.submit();" })
                        </div>
                    </div>
                }

                @using (Html.BeginForm("Index", "LApplication", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        
                    if (selectedLeaveTypeID != 0)
                    {
                        <hr />
                        @Html.HiddenFor(model => model.leaveTypeID, new { @Value = selectedLeaveTypeID })
                        @Html.HiddenFor(model => model.leaveTypeName, new { @Value = leaveTypes[selectedLeaveTypeID] })
                        @Html.Partial("_" + selectedLeaveTypeName + "Partial", Model)

                        <hr />
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" id="submit" class="btn btn-default" />
                                <input type="submit" value="Cancel" id="cancel" class="btn btn-default cancel" />
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}