
<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        <li role="presentation" class="dropdown-header">Staff Member</li>
        @Html.MenuItem("Apply for Leave", "Index", "LApplication")
        @Html.MenuItem("View Leave Balance", "Index", "sLeaveBalance")
        @Html.MenuItem("View Leave History", "Index", "sLeaveHistory")
        @Html.MenuItem("View Leave Status", "Index", "sLeaveStatus")
        <li role="presentation" class="nav-divider"></li>
        <li role="presentation" class="dropdown-header">HR</li>
        @Html.MenuItem("Peding Applications", "Index", "hrPendingApplication")
        @Html.MenuItem("Update Leave Status", "Index", "hrChangeApplicationStatus")
        @Html.MenuItem("Create New LEave Type", "Index", "hrCreateLeaveType")
        @Html.MenuItem("Credit Leave Balances", "Index", "hrCreditLeaveBalance")
        @Html.MenuItem("View Days in Lieu", "Index", "hrDepartmentViewDaysInLieu")
        @Html.MenuItem("View Leave Balances", "Index", "hrDepartmentViewLeaveBalance")
        @Html.MenuItem("View Leave Histories", "Index", "hrDepartmentViewLeaveHistory")
        @Html.MenuItem("Holidays Calendar", "Index", "hrHolidaysCalender")
        @Html.MenuItem("Select Substitute", "Index", "hrSelectSubstitute")
        <li role="presentation" class="nav-divider"></li>
        <li role="presentation" class="dropdown-header">Line Manager</li>
        @Html.MenuItem("Pending Applications", "Index", "lmPendingApplications")
        @Html.MenuItem("Update Leave Status", "Index", "lmChangeApplicationStatus")
        @Html.MenuItem("Select Substitute", "Index", "lmSelectSubstitute")
        @Html.MenuItem("Subordinate Balances", "Index", "lmSubordinateViewBalance")
        @Html.MenuItem("Subordinate Histories", "Index", "lmSubordinateViewHistory")
        <li role="presentation" class="nav-divider"></li>
        <li role="presentation" class="dropdown-header">Administrator</li>
        @Html.MenuItem("Add Department", "Index", "aAddDepartment")
        @Html.MenuItem("Add Staff", "Index", "aAddStaff")
        @Html.MenuItem("Add Staff Role", "Index", "aAddStaffRole")
        @Html.MenuItem("Edit Department", "Index", "aEditDepartment")
        @Html.MenuItem("Edit Staff", "Index", "aEditStaff")
    </ul>
</div>