<!-- left, vertical navbar -->
<div class="col-md-2 bootstrap-admin-col-left">
    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
        @if (User.IsInRole("Staff"))
        {
            <li role="presentation" class="nav-divider"></li>
            <li role="presentation" class="dropdown-header" style="font-size:14pt">Staff Member</li>
            @Html.MenuItem("Home", "Index", "Home")
            @Html.MenuItem("View Leave Balances", "Index", "sLeaveBalance")
            @Html.MenuItem("Apply for Leave", "Create", "LApplication")      
            @Html.MenuItem("Pending Applications", "Index", "sLeaveStatus")
            @Html.MenuItem("Processed Applications", "Index", "sLeaveHistory")
        }

        @if (User.IsInRole("LM"))
        {
            <li role="presentation" class="nav-divider"></li>
            <li role="presentation" class="dropdown-header" style="font-size:14pt">Line Manager</li>
            @Html.MenuItem("Pending Approvals", "Index", "lmPendingApplications")
            @Html.MenuItem("Select Substitute", "Index", "lmSelectSubstitute")
            @Html.MenuItem("Subordinate Balances", "Index", "lmSubordinateBalance")
            @Html.MenuItem("Subordinate Leave History", "Index", "lmSubordinateLeaveHistory")
            @Html.MenuItem("Credit Days In Lieu", "Select", "hrDaysInLieu")
        }

        @if (User.IsInRole("HR_Responsible"))
        {
            <li role="presentation" class="nav-divider"></li>
            <li role="presentation" class="dropdown-header"style="font-size:14pt">HR Responsible</li>
            @Html.MenuItem("Pending Approvals", "Index", "hrPendingApplication")
            @Html.MenuItem("Public Holidays", "Index", "hrHolidaysCalender")                
            @Html.MenuItem("Employee Leave History", "Index", "hrEmployeeLeaveHistory")
            @Html.MenuItem("View/Edit Employee Balances", "Index", "hrEditBalance")
            @Html.MenuItem("Select Substitute", "Index", "hrSelectSubstitute")
            @Html.MenuItem("Credit Days In Lieu", "Select", "hrDaysInLieu")
            @Html.MenuItem("Edit Leave Duration", "Display", "hrEditDefaultLeaveDuration")
            @Html.MenuItem("Credit Leave Balances", "Index", "hrCreditLeaveBalance")
            @Html.MenuItem("Staff on Probation", "Index", "hrProbationAdministration")

            //@Html.MenuItem("Create New Leave Type", "Index", "hrCreateLeaveType")
         }

        @if (User.IsInRole("HR"))
        {
            <li role="presentation" class="nav-divider"></li>
            <li role="presentation" class="dropdown-header"style="font-size:14pt">Human Resources</li>
            @Html.MenuItem("Public Holidays", "Display", "hrHolidaysCalender")
            @Html.MenuItem("Employee Leave History", "Index", "hrEmployeeLeaveHistory")
            @Html.MenuItem("View/Edit Employee Balances", "Index", "hrEditBalance")
            @Html.MenuItem("Credit Days In Lieu", "Select", "hrDaysInLieu")
            @Html.MenuItem("Edit Leave Duration", "Display", "hrEditDefaultLeaveDuration")
            @Html.MenuItem("Credit Leave Balances", "Index", "hrCreditLeaveBalance")
            //@Html.MenuItem("Create New Leave Type", "Index", "hrCreateLeaveType")                             
        }

        @if (User.IsInRole("Admin"))
        {
            <li role="presentation" class="nav-divider"></li>
            <li role="presentation" class="dropdown-header" style="font-size:14pt">Administrator</li>
            @Html.MenuItem("Add Staff Member", "Index", "aAddStaff")
            @Html.MenuItem("Edit Staff Member", "Index", "aEditStaff")
            @Html.MenuItem("Add Department", "Index", "aAddDepartment")
            @Html.MenuItem("Edit Department", "Index", "aEditDepartment")
            //@Html.MenuItem("Add Staff Role", "Index", "aAddStaffRole")
            @Html.MenuItem("Bulk Add Staff", "Index", "aBulkAddStaff")
            @Html.MenuItem("Backup Database", "Index", "aBackupDatabase")
        }
    </ul>
</div>
