@model LeaveSystemMVC.Models.hrCreateLeave
@Html.Partial("_LeftMenu")
<div class="col-md-6">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Create Leave Type</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <label for="existLeave"> Existing Leave Type</label>
                    <select id="#existLeave">
                        <option>Annual Leave</option>
                        <option>Maternity Leave</option>
                        <option>Compassionate Leave</option>
                        <option>Short Leave</option>
                        <option>Unpaid Leave</option>
                    </select>
                    <hr />
                    <label for="newLeave">New Leave Type</label>
                    <input type="text" id="#newLeave" />
                    <hr />
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
