
<!-- Adding a new staff role view -->

@model LeaveSystemMVC.Models.aStaffRole
@Html.Partial("_LeftMenu")
<div class="col-md-6">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Adding a new Staff Role</h4>
            <table style="margin:30px;width:100%;">
                <tr>
                    <td>
                        <div class="form-inline">

                            <!-- Display a list of existing staff roles in the database -->

                            @Html.LabelFor(model => model.tempStaffRoleName, "Existing Staff Role Name", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.tempStaffRoleName, new SelectList(ViewBag.roleNames))
                                @Html.ValidationMessageFor(model => model.tempStaffRoleName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
            </table>

            <table style="margin: 30px;">
                <tr>
                    <td>
                        <div class="form-group">

                            <!--Prompts user to enter a new staff role-->

                            @Html.LabelFor(model => model.staffRoleName, "New Staff Role Name", htmlAttributes: new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.EditorFor(model => model.staffRoleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.staffRoleName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="form-group">
        <div class="col-md-offset-4 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
