<!-- Adding a new staff role view -->

@model LeaveSystemMVC.Models.aStaffRole
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h2>Adding a new Staff Role</h2>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Application Details</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <div class="form-horizontal">

                        <div class="col-md-6" style="white-space:nowrap">

                            <!-- Display a list of existing staff roles in the database -->

                            @Html.LabelFor(model => model.tempStaffRoleName, "Existing Staff Role Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-6">
                                @Html.DropDownListFor(model => model.tempStaffRoleName, new SelectList(ViewBag.roleNames), new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.tempStaffRoleName, "", new { @class = "text-danger" })
                            </div>
                        
                        <br /><br /><br />

                        <div class="col-md-6" style="white-space:nowrap">

                            <!--Prompts user to enter a new staff role-->

                            @Html.LabelFor(model => model.staffRoleName, "New Staff Role Name", htmlAttributes: new { @class = "control-label col-md-2" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.staffRoleName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.staffRoleName, "", new { @class = "text-danger" })
                            </div>
                        
                        <br /><br /><br />

                    <div class="form-group">
                        <div class="col-md-offset-5 col-md-10">
                            <input type="submit" value="Submit" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
            </div>
    
    }
    </div>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
