@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Employee Leave History"; }

<div class="col-md-10">
    <h3>@ViewBag.title</h3>
    <hr />
    @Html.Partial("../_Message")
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" class="active" href="#collapse1">Filters</a>
                </h4>
            </div>
            <br />

            <div id="collapse1" class="panel-collapse collapse in">
                @using (Html.BeginForm("Filter", "hrEmployeeLeaveHistory", FormMethod.Post))
                {
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    var departmentList = ViewData["DepartmentList"] as Dictionary<int, string>;
                    var statusList = ViewData["LeaveStatusList"] as Dictionary<int, string>;
                    var typeList = ViewData["LeaveTypeList"] as Dictionary<int, string>;
                    var orderByList = ViewData["OrderByList"] as Dictionary<string, string>;
                    
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-2">
                            <p style="padding-top: 8px;" class="pull-right">Search</p>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group">
                                @Html.TextBox("enteredSearch", "", new { @Value = ViewData["EnteredSearch"], @class = "form-control", @placeholder = "Search by name..." })
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default">
                                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <p style="padding-top: 8px;" class="pull-right">Sort By</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                @Html.DropDownList("selectedOrderBy", new SelectList(orderByList, "Key", "Value"), new { @selected = ViewData["SelectedOrderBy"], @class = "form-control", @onchange = "this.form.submit();" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-2">
                            <p style="padding-top: 8px;" class="pull-right">Department</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                @Html.DropDownList("selectedDepartment", new SelectList(departmentList, "Key", "Value"), new { @selected = ViewData["SelectedDepartment"], @class = "form-control", @onchange = "this.form.submit();" })
                            </div>
                        </div>

                        <div class="col-md-2">
                            <p style="padding-top: 8px;" class="pull-right">Application Status</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                @Html.DropDownList("selectedLeaveStatus", new SelectList(statusList, "Key", "Value"), new { @selected = ViewData["SelectedLeaveStatus"], @class = "form-control", @onchange = "this.form.submit();" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row ">
                        <div class="col-md-2">
                            <p style="padding-top: 8px;" class="pull-right">Leave Type</p>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                @Html.DropDownList("selectedLeaveType", new SelectList(typeList, "Key", "Value"), new { @selected = ViewData["SelectedLeaveType"], @class = "form-control", @onchange = "this.form.submit();" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-2">
                            <p style="padding-top: 8px;" class="pull-right">Start Date Between</p>
                        </div>
                        <div class="col-md-7">
                            <div class="input-group input-daterange">
                                @Html.Editor("selectedStartDate", new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = ViewData["SelectedStartDate"], @onchange = "this.form.submit();" } })
                                <div class="input-group-addon">and</div>
                                @Html.Editor("selectedEndDate", new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = ViewData["SelectedEndDate"], @onchange = "this.form.submit();" } })
                            </div>
                        </div>
                    </div>
                </div>
                    <br />
                }
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <tr>
                <th style="text-align: center">App. ID</th>
                <th style="text-align: center">Employee Name</th>
                <th style="text-align: center">Leave Type</th>
                <th style="text-align: center">Start Date</th>
                <th style="text-align: center">End Date</th>
                <th style="text-align: center">Duration (hours)</th>
                <th style="text-align: center">Status</th>
                <th style="text-align: center">View</th>
            </tr>

            @foreach (var item in Model)
            {
                string stDt = item.startDate.ToString();
                stDt = stDt.Substring(0, 10);

                string reDt = item.returnDate.ToString();
                reDt = reDt.Substring(0, 10);
                <tr>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.leaveAppID)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.employeeName)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.leaveTypeName)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => stDt)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => reDt)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.leaveDuration)</td>
                    <td style="text-align: center">@Html.DisplayFor(modelItem => item.leaveStatusDisplayName)</td>
                    <td style="text-align:center">
                        <a href="@Url.Action("View", "hrEmployeeLeaveHistory", new { appID = item.leaveAppID }, null)">
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        </a>
                    </td>
                </tr>
             }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
