@model List<Tuple<LeaveSystemMVC.Models.sEmployeeModel, LeaveSystemMVC.Models.sLeaveModel>>

@{
    ViewBag.Title = "Subordinate Leave History";
}

@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <table class="table">
            <tr>
                <th>Staff Name</th>
                <th>Leave ID</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Duration</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Leave Status</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @{
                        string stDt = item.Item2.startDate.ToString();
                        stDt = stDt.Substring(0, 10);

                        string enDt = item.Item2.endDate.ToString();
                        enDt = enDt.Substring(0, 10);

                        string status = "";

                        switch (item.Item2.leaveStatus)
                        {
                            case 2:
                                status = "Approved";
                                break;
                            case 3:
                            case 4:
                                status = "Rejected";
                                break;
                            case 5:
                                status = "Canceled";
                                break;
                        }
                    }
                    <td>@Html.DisplayFor(modelItem => item.Item1.firstName) @Html.DisplayFor(modelItem => item.Item1.lastName) </td>
                    <td>@Html.DisplayFor(modelItem => item.Item2.leaveID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item2.leaveType)</td>
                    <td>@Html.DisplayFor(modelItem => stDt)</td>
                    <td>@Html.DisplayFor(modelItem => enDt)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item2.leaveDuration)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item2.shortStartTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Item2.shortEndTime)</td>
                    <td>@Html.DisplayFor(modelItem => status)</td>
                </tr>
                        }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
