@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Subordinate Leave History"; }

<div class="col-md-10">
    <h3>@ViewBag.Title</h3>
    <hr />
    @Html.Partial("../_Message")
    <div class="row">
        <table class="table">
            <tr>
                <th>App. ID</th>
                <th>Employee Name</th>
                <th>Leave Type</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Leave Duration</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Leave Status</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @{
                        string stDt = item.startDate.ToString();
                        stDt = stDt.Substring(0, 10);

                        string reDt = item.returnDate.ToString();
                        reDt = reDt.Substring(0, 10);
                    }
                    <td>@Html.DisplayFor(modelItem => item.leaveAppID)</td>
                    <td>@Html.DisplayFor(modelItem => item.employeeName)</td>
                    <td>@Html.DisplayFor(modelItem => item.leaveTypeName)</td>
                    <td>@Html.DisplayFor(modelItem => stDt)</td>
                    <td>@Html.DisplayFor(modelItem => reDt)</td>
                    <td>@Html.DisplayFor(modelItem => item.leaveDuration)</td>
                    <td>@Html.DisplayFor(modelItem => item.shortStartTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.shortEndTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.leaveStatusName)</td>
                </tr>
            }
        </table>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
