@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>

@{
    ViewBag.Title = "Pending Leave";
}
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h4>Pending Applications</h4>
    <table class="table" style="white-space:nowrap">
        <tr>
            <th>App. ID</th>
            <th>Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Status</th>
            <th>HR Comment</th>
            <th>LM Comment</th>
            <th>Cancel</th>
        </tr>
        @foreach (var item in Model)
        {
            string stDt = item.startDate.ToString();
            stDt = stDt.Substring(0, 9);

            string reDt = item.returnDate.ToString();
            reDt = reDt.Substring(0, 9);

            <tr>
                <td>@Html.DisplayFor(modelItem => item.leaveAppID)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveTypeName)</td>
                <td>@Html.DisplayFor(modelItem => stDt)</td>
                <td>@Html.DisplayFor(modelItem => reDt)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveDuration)</td>
                <td>@Html.DisplayFor(modelItem => item.shortStartTime)</td>
                <td>@Html.DisplayFor(modelItem => item.shortEndTime)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveStatusName)</td>
                <td>@Html.DisplayFor(modelItem => item.hrComment)</td>
                <td>@Html.DisplayFor(modelItem => item.lmComment)</td>
                <td>@Html.ActionLink("Cancel", "Delete", "sLeaveStatus" , new { id = item.leaveAppID}, null)</td>
            </tr>
        }
    </table>
</div>
