@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>

@{
    ViewBag.Title = "Pending Leaves";
}
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h3>Pending Applications</h3>

    <table class="table">
        <tr>
            <th>
                Leave Application ID
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Duration
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>
                Leave Status
            </th>
            <th>
                HR Comment
            </th>
            <th>
                LM Comment
            </th>
            <th>
                Cancel
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.staffName)</td>

                <td>@Html.DisplayFor(modelItem => item.leaveType)</td>

                <td>@ViewBag.stDt</td>

                <td>@ViewBag.enDt</td>

                <td>@Html.DisplayFor(modelItem => item.leaveDuration)</td>

                <td>@Html.DisplayFor(modelItem => item.shortStartTime)</td>

                <td>@Html.DisplayFor(modelItem => item.shortEndTime)</td>

                <td>@Html.DisplayFor(modelItem => item.leaveStatus)</td>

                <td>@Html.DisplayFor(modelItem => item.hrComment)</td>

                <td>@Html.DisplayFor(modelItem => item.lmComment)</td>
                                
                <td>@Html.ActionLink("Cancel","Delete", new { id = item.leaveType })</td>
            </tr>
        }

    </table>
</div>
