@model LeaveSystemMVC.Models.sleaveBalanceModel
@{
    ViewBag.Title = "Edit Leave Duration of Organization";

}

@Html.Partial("_LeftMenu")

<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <h4>@ViewBag.title</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @if (TempData["Success"] != null)
            {
                <div class="green">
                    <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
                </div>
            }
        </div>
            @Html.ValidationMessage("errmsg")
            <table class="table">
                <tr>
                    <th>Leave Type</th>
                    <th>Default Duration</th>
                    <th>Edit Default Duration</th>
                <tr>
                    <td>
                        @ViewBag.annualName
                    </td>
                    <td>
                        @ViewBag.annualDuration
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.annual, new { @Value = ViewBag.annualDuration })
                        @Html.HiddenFor(modelItem => modelItem.annualID, new { @Value = ViewBag.annualID })
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.matName
                    </td>
                    <td>
                        @ViewBag.matDuration
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.maternity, new { @Value = ViewBag.matDuration })
                        @Html.HiddenFor(modelItem => modelItem.maternityID, new { @Value = ViewBag.matID })
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.sickName
                    </td>
                    <td>
                        @ViewBag.sickDuration
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.sick, new { @Value = ViewBag.sickDuration })
                        @Html.HiddenFor(modelItem => modelItem.sickID, new { @Value = ViewBag.sickID })
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.dilName
                    </td>
                    <td>
                        @ViewBag.dilDuration
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.daysInLieue, new { @Value = ViewBag.dilDuration })
                        @Html.HiddenFor(modelItem => modelItem.daysInLieueID, new { @Value = ViewBag.dilID })
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.compName
                    </td>
                    <td>
                        @ViewBag.compDuration
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.compassionate, new { @Value = ViewBag.compDuration })
                        @Html.HiddenFor(modelItem => modelItem.compassionateID, new { @Value = ViewBag.compID })
                    </td>
                </tr>
                <tr>
                    <td>
                        @ViewBag.shortName
                    </td>
                    <td>
                        @ViewBag.shortDuration
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => modelItem.shortLeaveHours, new { @Value = ViewBag.shortDuration })
                        @Html.HiddenFor(modelItem => modelItem.shortID, new { @Value = ViewBag.shortID })
                    </td>
                </tr>

            </table>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
    }
</div>