@model List<LeaveSystemMVC.Models.lmReporting>
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Select Substitute"; }


<div class="col-md-10">
    <h3>@ViewBag.Title</h3>
    <hr />
    @Html.Partial("../_Message")
    @{
        var loggedID = ViewData["LoggedID"] as int?;
        var selectableSubs = ViewData["SelectableSubstitute"] as Dictionary<int, Dictionary<int, String>>;
        var empNames = ViewData["EmployeeNames"] as Dictionary<int, string>;
        var list = Model.Select(m => new { m.reportToID, m.fromID, m.toID, m.isActive }).Distinct().ToList();
    }

    @for (int i = 0; i < list.Count; i++)
    {
        if (list[i].isActive == null)
        {
            List<LeaveSystemMVC.Models.lmReporting> myList = new List<LeaveSystemMVC.Models.lmReporting>(Model.Where(x => x.reportToID == list[i].reportToID).ToList());
            using (Html.BeginForm("Promote", "lmSelectSubstitute", new { reportToID = myList[0].reportToID, subLevel = ((myList[0].subLevel != null) ? myList[0].subLevel : 0) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-3">
                        @Html.DisplayName("Original LM: " + empNames[list[i].reportToID])
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-offset-1 col-md-4">
                        <div class="form-horizontal">
                            @Html.DropDownList(myList[0].reportToID.ToString(), new SelectList(selectableSubs[myList[0].reportToID], "Key", "Value"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" value="Promote" class="btn btn-info col-md-12">
                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Promote
                        </button>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="" href="#@myList[0].reportToID.ToString()">Subordinate(s)</a>
                                </h4>
                            </div>
                            <div id="@myList[0].reportToID.ToString()" class="panel-collapse collapse">
                                <ul class="list-group">
                                    @foreach (var subordinates in myList)
                                    {
                                        <li class="list-group-item">@Html.DisplayName(subordinates.employeeName)</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }


        }

        if ((list[i].isActive == false && list[i].toID == loggedID) || (list[i].fromID == loggedID && list[i].reportToID == loggedID))
        {
            List<LeaveSystemMVC.Models.lmReporting> demoteList = new List<LeaveSystemMVC.Models.lmReporting>(Model.Where(x => x.reportToID == list[i].reportToID && x.isActive == list[i].isActive).ToList());
            <div class="row">
                <div class="col-md-4">
                    @Html.DisplayName("Original LM: " + empNames[list[i].reportToID])
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-offset-1 col-md-4">
                    @Html.DisplayName("Current LM: " + empNames[(int)(list.Where(m => m.reportToID == list[i].reportToID && m.isActive == true).ToList()[0].toID)])
                </div>
                <div class="col-md-2">
                    <a href="@Url.Action("Demote", "lmSelectSubstitute", new { reportToID = demoteList[0].reportToID, subLevel = demoteList[0].subLevel }, null)" class="btn btn-warning col-md-12">
                        <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
                        Demote
                    </a>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" class="" href="#@demoteList[0].reportToID.ToString()">Subordinate(s)</a>
                            </h4>
                        </div>
                        <div id="@demoteList[0].reportToID.ToString()" class="panel-collapse collapse">
                            <ul class="list-group">
                                @foreach (var subordinates in demoteList)
                                {
                                    <li class="list-group-item">@Html.DisplayName(subordinates.employeeName)</li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
        }

        if (list[i].isActive == true && list[i].toID == loggedID)
        {
            List<LeaveSystemMVC.Models.lmReporting> promoteList = new List<LeaveSystemMVC.Models.lmReporting>(Model.Where(x => x.reportToID == list[i].reportToID && x.isActive == list[i].isActive).ToList());
            using (Html.BeginForm("Promote", "lmSelectSubstitute", new { reportToID = promoteList[0].reportToID, subLevel = ((promoteList[0].subLevel != null) ? promoteList[0].subLevel : 0) }, FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="row">
                    <div class="col-md-3">
                        @Html.DisplayName("Original LM: " + empNames[list[i].reportToID])
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-offset-1 col-md-4">
                        <div class="form-horizontal">
                            @Html.DropDownList(promoteList[0].reportToID.ToString(), new SelectList(selectableSubs[promoteList[0].reportToID], "Key", "Value"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="submit" value="Promote" class="btn btn-info col-md-12">
                            <span class="glyphicon glyphicon-education" aria-hidden="true"></span> Promote
                        </button>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" class="" href="#@promoteList[0].reportToID.ToString()">Subordinate(s)</a>
                                </h4>
                            </div>
                            <div id="@promoteList[0].reportToID.ToString()" class="panel-collapse collapse">
                                <ul class="list-group">
                                    @foreach (var subordinates in promoteList)
                                    {
                                        <li class="list-group-item">@Html.DisplayName(subordinates.employeeName)</li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            }
        }
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
         function SelectionChanged()
         {
              var url = '@Html.Raw(Url.Action("MyAction", "controllerName", new { param1=5, param2=2 }))';
              window.location = url;
         }
    </script>
}
