
 <!--Editing a department View -->

@model LeaveSystemMVC.Models.aDepartment
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <h4>Editing a Department</h4>

        <table style="margin:30px;width:100%;">
            <tr>
                <td>
                     <div class="form-group">

                         <!--Prompts user to select one of the departments in the database to edit -->

                            @Html.LabelFor(model => model.departmentName, "Select Department to Edit", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                @Html.DropDownListFor(model => model.departmentName, new SelectList(ViewBag.departmentNames))
                                @Html.ValidationMessageFor(model => model.departmentName, "", new { @class = "text-danger" })
                            </div>
                    </div>
                </td>
            </tr>
        </table>

        <table style="margin:30px;width:100%;">
            <tr>
                <td>
                    <div class="form-group">

                        <!--Prompts user to select one of the departments in the database to edit -->

                        @Html.LabelFor(model => model.primaryLMID, "Current Line Manager of the Selected Department", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            @Html.TextBoxFor(model => model.primaryLMID, new { ViewBag.tempLMName, @class = "text-box single-line readonly", @readonly = "readonly"})
                            @Html.ValidationMessageFor(model => model.primaryLMID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <table style="margin: 30px;">
            <tr>
                <td>
                    <div class="form-group">

                        <!--Prompts user to select a different line manager for the department from the list-->

                        @Html.LabelFor(model => model.primaryLMID, "Change Line Manager", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-4">
                            @Html.DropDownListFor(model => model.primaryLMID, new SelectList(Model.linemanagerSelectionListOptions, "Key", "Value"))
                            @Html.ValidationMessageFor(model => model.primaryLMID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Submit" class="btn btn-default" />
        </div>
        </div>
    }
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
