@model LeaveSystemMVC.Models.aDepartment
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <h4>Editing a Department Page</h4>
            <label for="existLeave"> Select Department to Edit</label>
            <select id="#existLeave">
                <option>IT </option>
                <option>Academic Services</option>
                <option>Student Services</option>
                <option>HR</option>
                <option>Finance</option>
            </select>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            <div class="form-group">
                @Html.LabelFor(model => model.primaryLMID, "Primary Line Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.primaryLMID, new SelectList(ViewBag.plm))
                    @Html.ValidationMessageFor(model => model.primaryLMID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.secondaryLMID, "Secondary Line Manager", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.DropDownListFor(model => model.secondaryLMID, new SelectList(ViewBag.slm))
                    @Html.ValidationMessageFor(model => model.secondaryLMID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
