@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>

@{
    ViewBag.Title = "Leave History";
}
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h3>Processed Applications</h3>

    <table class="table">
        <tr>
            <th>Leave ID</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Duration</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Leave Status</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                @{
                    string stDt = item.startDate.ToString();
                    stDt = stDt.Substring(0, 10);

                    string enDt = item.endDate.ToString();
                    enDt = enDt.Substring(0, 10);

                    string status = "";

                    switch (item.leaveStatus) {
                        case 0:
                        case 1:
                            status = "Pending";
                            break;
                        case 2:
                            status = "Approved";
                            break;
                        case 3:
                        case 4:
                            status = "Rejected";
                            break;
                        case 5:
                            status = "Cancelled";
                            break;
                    }
         }
                <td>@Html.DisplayFor(modelItem => item.leaveID)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveType)</td>
                <td>@Html.DisplayFor(modelItem => stDt)</td>
                <td>@Html.DisplayFor(modelItem => enDt)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveDuration)</td>
                <td>@Html.DisplayFor(modelItem => item.shortStartTime)</td>
                <td>@Html.DisplayFor(modelItem => item.shortEndTime)</td>
                <td>@Html.DisplayFor(modelItem => status)</td>
            </tr>
        }

    </table>
    </div>
