@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>

@{
    ViewBag.Title = "Leave History";
}
@Html.Partial("_LeftMenu")
<div class="col-md-6">
    @Html.AntiForgeryToken()
    <h3<Leave History</h3>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.staffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaveType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.applicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.returnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaveDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shortStartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shortEndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lmComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hrComment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.leaveStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comments)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.supportingDocs)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.contactDetails)
            </th>
            <th></th>
        </tr>


        <tr>
            <td>
                Wilbert
            </td>
            <td>
                Annual
            </td>
            <td>
                24-6-2015
            </td>
            <td>
                24-7-2015
            </td>
            <td>
                24-8-2015
            </td>
            <td>
                24-8-2015
            </td>
            <td>
                30
            </td>
            <td>
                12:00AM
            </td>
            <td>
                12:00AM
            </td>
            <td>
                Leave Approved
            </td>
            <td>
                Leave Approved
            </td>
            <td>
                6
            </td>
            <td>
                Applying for annual leave
            </td>
            <td></td>

            <td>
                +018383934934
            </td>
        </tr>


        <tr>
            <td>
                Wilbert
            </td>
            <td>
                Sick
            </td>
            <td>
                24-2-2015
            </td>
            <td>
                24-2-2015
            </td>
            <td>
                27-2-2015
            </td>
            <td>
                24-8-2015
            </td>
            <td>
                2
            </td>
            <td>
                12:00AM
            </td>
            <td>
                12:00AM
            </td>
            <td>
                Leave Approved
            </td>
            <td>
                Leave Approved
            </td>
            <td>
                6
            </td>
            <td>
                Sick Leave
            </td>
            <td></td>

            <td>           </td>
        </tr>
        

    </table>
    </div>
