@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Leave History"; }

<div class="col-md-10">
    <h3>@ViewBag.Title</h3>
    <hr />
    @Html.Partial("../_Message")
    <table class="table">
        <tr>
            <th>App. ID</th>
            <th>Leave Type</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Duration</th>
            <th>Status</th>
            <th>View</th>
        </tr>

        @foreach (var item in Model)
        {
            string stDt = item.startDate.ToString();
            stDt = stDt.Substring(0, 10);

            string reDt = item.returnDate.ToString();
            reDt = reDt.Substring(0, 10);
            <tr>
                <td>@Html.DisplayFor(modelItem => item.leaveAppID)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveTypeName)</td>
                <td>@Html.DisplayFor(modelItem => stDt)</td>
                <td>@Html.DisplayFor(modelItem => reDt)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveDuration)</td>
                <td>@Html.DisplayFor(modelItem => item.leaveStatusDisplayName)</td>
                <td style="text-align:center">
                    <a href="@Url.Action("View", "sLeaveHistory", new { appID = item.leaveAppID }, null)">
                        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </table>
</div>
