@model IEnumerable<LeaveSystemMVC.Models.sLeaveModel>

@{
    ViewBag.Title = "Leave History";
}
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h3>Leave History</h3>

    <table class="table">
        <tr>
            <th>
                Leave Type
            </th>
            <th>
                Start Date 
            </th>
            <th>
                End Date 
            </th>
            <th>
                Leave Duration 
            </th>
            <th>
                Start Time 
            </th>
            <th>
                End Time 
            </th>
            <th>
                Leave Status 
            </th>
            <th>
                HR Comment
            </th>
            <th>
               LM Comment 
            </th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                
                <td>@Html.DisplayFor(modelItem => item.leaveType)</td>
                
                <td>@ViewBag.stDt</td>
            
                <td>@ViewBag.enDt</td>
                        
                <td>@Html.DisplayFor(modelItem => item.leaveDuration)</td>
                
                <td>@Html.DisplayFor(modelItem => item.shortStartTime)</td>
            
                <td>@Html.DisplayFor(modelItem => item.shortEndTime)</td>

                <td>@Html.DisplayFor(modelItem => item.leaveStatus)</td>

                <td>@Html.DisplayFor(modelItem => item.hrComment)</td>
            </tr>
        }

    </table>
    </div>
