@model List<Tuple<LeaveSystemMVC.Models.sEmployeeModel, LeaveSystemMVC.Models.sleaveBalanceModel>>
@{
    ViewBag.Title = "Subordinate Balances";
}

@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h4>@ViewBag.Title</h4>
    @{
        var religionList = ViewData["ReligionList"] as Dictionary<int, string>;
    }        

    <table class="table">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Annual Leave</th>
            <th>Sick Leave</th>
            <th>Compassionate Leave</th>
            <th>Short Leave</th>
            <th>Maternity Leave</th>
            <th>Days in Lieu</th>
            <th>Pilgrimage</th>
        </tr>
        @foreach (var tuple in Model)
        {
            <tr>
                <td>@tuple.Item1.staffID </td>
                <td>@tuple.Item1.firstName @tuple.Item1.lastName</td>
                <td>@tuple.Item2.annual</td>
                <td>@tuple.Item2.sick</td>
                <td>@tuple.Item2.compassionate</td>
                <td>@tuple.Item2.shortHours</td>
                @if (tuple.Item1.gender == 'F')
                { <td>@tuple.Item2.maternity</td> }
                else
                { <td></td> }
                <td>@tuple.Item2.daysInLieu</td>
                @if (religionList[tuple.Item1.religionID].Equals("Muslim"))
                { <td>@tuple.Item2.pilgrimage</td> }
                else
                { <td></td> }
            </tr>
        }
    </table>
</div>

