@model LeaveSystemMVC.Models.sleaveBalanceModel
@{
    ViewBag.Title = "Edit Leave Balances for";
}

@Html.Partial("_LeftMenu")

<div class="col-md-8">

    <h4>@ViewBag.Title <b>@ViewBag.name</b></h4>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            
            @if (TempData["Success"] != null)
            {
                <div class="green">
                    <p><strong>Success:</strong> @TempData["Success"].ToString()</p>
                </div>
            }
        </div>
        @Html.ValidationMessage("errmsg")
        @Html.HiddenFor(Model => Model.empId)
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>Balance Type</th>
                    <th>Current Balance</th>
                    <th>New Balance</th>
                </tr>
                <tr>
                    <td>Annual</td>
                    <td>@Model.annual</td>
                    <td>@Html.TextBoxFor(Model => Model.annual, new { @Value = Model.annual, @class="form-control" })</td>
                    @Html.HiddenFor(Model => Model.annualID)
                </tr>
                @if (ViewBag.gender == 'F') {
                <tr>
                    <td>Maternity</td>
                    <td>@Model.maternity </td>
                    <td>@Html.TextBoxFor(Model => Model.maternity, new { @Value = Model.maternity, @class = "form-control" })</td>
                    @Html.HiddenFor(Model => Model.maternityID)
                </tr>
                }
                <tr>
                    <td>Sick</td>
                    <td>@Model.sick</td>
                    <td>@Html.TextBoxFor(Model => Model.sick, new { @Value = Model.sick, @class = "form-control" })</td>
                    @Html.HiddenFor(Model => Model.sickID)
                </tr>
                <tr>
                    <td>Days In Lieu</td>
                    <td>@Model.daysInLieue</td>
                    <td>@Html.TextBoxFor(Model => Model.daysInLieue, new { @Value = Model.daysInLieue, @class = "form-control" })</td>
                    @Html.HiddenFor(Model => Model.daysInLieueID)
                </tr>
                <tr>
                    <td>Compassionate</td>
                    <td>@Model.compassionate</td>
                    <td>@Html.TextBoxFor(Model => Model.compassionate, new { @Value = Model.compassionate, @class = "form-control" })</td>
                    @Html.HiddenFor(Model => Model.compassionateID)
                </tr>
                <tr>
                    <td>Short</td>
                    <td>@Model.shortLeaveHours</td>
                    <td>@Html.TextBoxFor(Model => Model.shortLeaveHours, new { @Value = Model.shortLeaveHours, @class = "form-control" })</td>
                    @Html.HiddenFor(Model => Model.shortID)
                </tr>
               @if (ViewBag.religion.Equals("Muslim"))
               {
                <tr>
                    <td>Pilgrimage</td>
                    <td>@Model.pilgrimage</td>
                    <td>@Html.TextBoxFor(Model => Model.pilgrimage, new { @Value = Model.pilgrimage, @class = "form-control" })</td>
                    @Html.HiddenFor(Model => Model.pilgrimageID)
                </tr>
               }
            </table>
        </div>
       
        <div class="col-md-offset-4 col-md-12">
            <a href="@Url.Action("Index", "hrEditBalance")" class="btn btn-default">
                <span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
                Back
            </a>


            <button type="submit" value="Save" class="btn btn-default">
                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Save
            </button>
        </div>
        
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
