@model IEnumerable<LeaveSystemMVC.Models.hrEmpLeaveBalModel>
@{
    ViewBag.Title = "Employee Balances";
}

@Html.Partial("_LeftMenu")

<h2>@ViewBag.Title</h2>
<div class="col-md-10">
    @{
        var departmentList = ViewData["DepartmentList"] as Dictionary<int, string>;
        var selectedDepartment = @ViewData["SelectedDepartment"];

    }
    @using (Html.BeginForm("FilterListByDepartment", "hrEditBalance", FormMethod.Post))
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-horizontal">
            <div class="row ">
                <div class="col-md-2">
                    <p style="padding-top: 8px;">Filter by Department:</p>
                </div>
                <div class="col-md-3">
                    <div class="form-horizontal">
                        @Html.DropDownList("selectedDepartment", new SelectList(departmentList, "Key", "Value"), new { @selected = selectedDepartment, @class = "form-control", @onchange = "this.form.submit();" })
                    </div>
                </div>
            </div>
        </div>
        <br />
    }
    <table class="table">
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Annual Leave</th>
            <th>Sick Leave</th>
            <th>Compassionate Leave</th>
            <th>Short Leave</th>
            <th>Maternity Leave</th>
            <th>Days in Lieu</th>
            
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.employee.staffID </td>
                <td>@item.employee.firstName @item.employee.lastName</td>
                <td>@item.leaveBalance.annual</td>
                <td>@item.leaveBalance.sick</td>
                <td>@item.leaveBalance.compassionate</td>
                <td>@item.leaveBalance.shortLeaveHours</td>
                @if (item.employee.gender == 'F')
                {
                    <td>@item.leaveBalance.maternity</td>
                }
                else
                {
                    <td></td>
                }
                <td>@item.leaveBalance.daysInLieue</td>
                <td>@Html.ActionLink("Edit", "Edit", "hrEditBalance", new { id = item.employee.staffID }, null)</td>
            </tr>
        }
    </table>
</div>

