@model LeaveSystemMVC.Models.sleaveBalanceModel
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Leave Balances"; }

<div class="col-md-4">
    <h3>@ViewBag.Title</h3>
    <hr />
    @Html.Partial("../_Message")    
    <table class="table">
        <tr>
            <th>Leave Type</th>
            <th style="text-align: center">Balance (days)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.annual)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.annual)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.sick)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.sick)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.compassionate)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.compassionate)</td>
        </tr>
        @if ((char)ViewData["Gender"] == 'F')
    {
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.maternity)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.maternity)</td>
        </tr>
}
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.daysInLieu)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.daysInLieu)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.shortHours)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.shortHours)</td>
        </tr>

        <tr>
            <th>@Html.DisplayNameFor(Model => Model.unpaid)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.unpaid)</td>
        </tr>
        @if ((bool)ViewData["Pilgrimage"])
    {
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.pilgrimage)</th>
            <td style="text-align: center">@Html.DisplayFor(Model => Model.pilgrimage)</td>
        </tr>
}
    </table>
</div>
