@model IEnumerable<LeaveSystemMVC.Models.sleaveBalanceModel>
@Html.Partial("_LeftMenu")
<div class="col-md-6">
    @Html.AntiForgeryToken()
    <h3>Leave Balance</h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.annual)
            </th>
            <td>
                0
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.sick)
            </th>
            <td>
                0
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.compassionate)
            </th>
            <td>
                0
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.maternity)
            </th>
            <td>
                0
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.daysInLieue)
            </th>
            <td>
                0
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.unpaidTotal)
            </th>
            <td>
                0
            </td>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.shortLeaveHours)
            </th>
            <td>
                0
            </td>
        </tr>
    </table>
</div>
