@model IEnumerable<LeaveSystemMVC.Models.sleaveBalanceModel>
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    <h3>Leave Balance</h3>
    <table class="table">
        <tr>
            <th>
                Annual 
            </th>
            <td>
                @ViewBag.annual
            </td>
        </tr>
        <tr>
            <th>
                Sick 
            </th>
            <td>
                @ViewBag.sick
            </td>
        </tr>
        <tr>
            <th>
                Compassionate 
            </th>
            <td>
                @ViewBag.Compassionate
            </td>
        </tr>
        <tr>
            <th>
                Maternity 
            </th>
            <td>
                @ViewBag.maternity
            </td>
        </tr>
        <tr>
            <th>
                Days in Lieu 
            </th>
            <td>
                
            </td>
        </tr>
        <tr>
            <th>
                Short Leave Hours 
            </th>
            <td>
                @ViewBag.shortHrs
            </td>
        </tr>
    </table>
</div>
