@model LeaveSystemMVC.Models.sleaveBalanceModel

@{
    ViewBag.Title = "Leave Balances";
}
@Html.Partial("_LeftMenu")
<div class="col-md-4">
    <h3>@ViewBag.Title</h3>
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.annual)</th>
            <td>@Html.DisplayFor(Model => Model.annual)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.sick)</th>
            <td>@Html.DisplayFor(Model => Model.sick)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.compassionate)</th>
            <td>@Html.DisplayFor(Model => Model.compassionate)</td>
        </tr>
        @if ((char)ViewData["Gender"] == 'F')
        {
            <tr>
                <th>@Html.DisplayNameFor(Model => Model.maternity)</th>
                <td>@Html.DisplayFor(Model => Model.maternity)</td>
            </tr>
        }
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.daysInLieu)</th>
            <td>@Html.DisplayFor(Model => Model.daysInLieu)</td>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.shortHours)</th>
            <td>@Html.DisplayFor(Model => Model.shortHours)</td>
        </tr>
        @if (ViewData["Religion"].Equals("Muslim"))
        {
        <tr>
            <th>@Html.DisplayNameFor(Model => Model.pilgrimage)</th>
            <td>@Html.DisplayFor(Model => Model.pilgrimage)</td>
        </tr>
        }
    </table>
</div>
