@model IEnumerable<LeaveSystemMVC.Models.Holiday>
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Holidays Calendar"; }

<div class="col-md-10">
    <h3>@ViewBag.title</h3>
    <hr />
    @Html.Partial("../_Message")
    <p>@Html.ActionLink("Create a new Holiday", "CreateHoliday")</p>
    @{
        var yearList = ViewData["YearList"] as Dictionary<int, string>;
        var selectedYear = ViewData["SelectedYear"];
    }
    @if (yearList.Count != 0)
    {
        using (Html.BeginForm("FilterListByYear", "hrHolidaysCalendar", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-horizontal">
                <div class="row ">
                    <div class="col-md-2">
                        @Html.Label("Filter by Year:", htmlAttributes: new { @class = "control-label" })
                    </div>
                    <div class="col-md-2">
                        <div class="form-horizontal">
                            @Html.DropDownList("selectedYear", new SelectList(yearList, "Key", "Value"), new { @selected = selectedYear, @class = "form-control", @onchange = "this.form.submit();" })
                        </div>
                    </div>
                </div>
            </div>
            <br />
        }
    }
    <div class="col-md-8">
        <div class="row">
            <table class="table">
                <tr>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.holidayName)</th>
                    <th style="text-align:center">@Html.DisplayNameFor(model => model.date)</th>
                    <th style="text-align:center">@Html.DisplayName("Delete")</th>
                </tr>
                @foreach (var item in Model)
                {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.holidayName) </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.date.Year)/@Html.DisplayFor(modelItem => item.date.Month)/@Html.DisplayFor(modelItem => item.date.Day)
                    </td>

                    @{
                        DateTime dt = item.date.Date;
                        if (dt.CompareTo(DateTime.Now.Date) >= 0)
                        {
                            <td style="text-align:center">
                                <a href="@Url.Action("Remove", "hrHolidaysCalendar", new { holidayID = item.holidayID }, null)">
                                    <span class="glyphicon glyphicon-remove" aria-hidden="true" style="color:red"></span>
                                </a>
                            </td>
                        }
                        else
                        {
                            <td style="text-align:center">                    
                            </td>
                        }
                    }
                </tr>
                }
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
