@{ViewBag.Title = "Probation Administration";}
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Probation Administration"; }

<div class="col-md-10">
    <h4>@ViewBag.Title</h4>
    <hr />
    @Html.Partial("../_Message")
    <div class="row">
        <table class="table">
            <tr>
                <th>Employee ID</th>
                <th>Name</th>
                <th>Department</th>
                <th>Start Date</th>
                <th>Employment Duration</th>
                <th>Confirmation</th>
            </tr>
            @{
                var onProbation = ViewData["OnProbation"] as List<LeaveSystemMVC.Models.sEmployeeModel>;

                foreach (LeaveSystemMVC.Models.sEmployeeModel onP in onProbation)
                {
                    <tr>
                        <td>@onP.staffID</td>
                        <td>@onP.firstName @onP.lastName</td>
                        <td>@ViewData["Department" + onP.staffID.ToString()]</td>
                        <td>@onP.empStartDate.ToString().Substring(0, 10)</td>
                        @{
                            var totalDays = (int)@ViewData["Duration" + onP.staffID.ToString()];
                            var months = Math.Truncate((double)totalDays / 30);
                            var days = Math.Truncate((double)totalDays % 30);
                        }
                        @if (months == 0)
                        {
                            if (days == 0)
                            {
                        <td>Joined Today</td> }
                            else if (days == 1)
                            {
                        <td>@days day</td> }
                            else
                            {
                        <td>@days days</td> }
                        }
                        else if (months == 1)
                        {
                            if (days == 0)
                            {
                        <td>@months month</td> }
                            else if (days == 1)
                            {
                        <td>@months month, @days day</td> }
                            else
                            {
                        <td>@months month, @days days</td> }
                        }
                        else
                        {
                            if (days == 0)
                            {
                        <td>@months months</td> }
                            else if (days == 1)
                            {
                        <td>@months months, @days day</td> }
                            else
                            {
                        <td>@months months, @days days</td> }
                        }
                        <td><a href="@Url.Action("SetProbation", "hrProbationAdministration", new { id = onP.staffID }, null)">Confirm</a></td>
                    </tr>
                            }
            }
        </table>
    </div>
</div>
