@{ViewBag.Title = "Probation Administration";}
@Html.Partial("_LeftMenu")
@{ ViewBag.Title = "Staff on Probation"; }

<div class="col-md-10">
    <h4>@ViewBag.Title</h4>
    @Html.Partial("../_Message")
    <div class="row">
        <table class="table">
            <tr>
                <th style="text-align: center">Employee ID</th>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Department</th>
                <th style="text-align: center">Start Date</th>
                <th style="text-align: center">Employment Duration</th>
                <th style="text-align: center">Confirm?</th>
            </tr>
            @{
                var onProbation = ViewData["OnProbation"] as List<LeaveSystemMVC.Models.Employee>;

                foreach (LeaveSystemMVC.Models.Employee onP in onProbation)
                {
                    <tr>
                        <td style="text-align: center">@onP.staffID</td>
                        <td style="text-align: center">@onP.firstName @onP.lastName</td>
                        <td style="text-align: center">@ViewData["Department" + onP.staffID.ToString()]</td>
                        <td style="text-align: center">@onP.empStartDate.ToString().Substring(0, 10)</td>
                        @{
                            var totalDays = (int)@ViewData["Duration" + onP.staffID.ToString()];
                            var months = Math.Truncate((double)totalDays / 30);
                            var days = Math.Truncate((double)totalDays % 30);
                        }
                        @if (months == 0)
                        {
                            if (days == 0)
                            {
                                <td style="text-align: center">Joined Today</td> }
                            else if (days == 1)
                            {
                                <td style="text-align: center">@days day</td> }
                            else
                            {
                                <td style="text-align: center">@days days</td> }
                        }
                        else if (months == 1)
                        {
                            if (days == 0)
                            {
                                <td style="text-align: center">@months month</td> }
                            else if (days == 1)
                            {
                                <td style="text-align: center">@months month, @days day</td> }
                            else
                            {
                                <td style="text-align: center">@months month, @days days</td> }
                        }
                        else
                        {
                            if (days == 0)
                            {
                                <td style="text-align: center">@months months</td> }
                            else if (days == 1)
                            {
                                <td style="text-align: center">@months months, @days day</td> }
                            else
                            {
                                <td style="text-align: center">@months months, @days days</td> }
                        }
                        <td style="text-align:center">
                            <a href="@Url.Action("SetProbation", "hrProbationAdministration", new { id = onP.staffID }, null)">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true" style="color:green"></span>
                            </a>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>
