@model LeaveSystemMVC.Models.sLeaveModel
@{ 
    ViewBag.Title = "Change Application Status";
}
@Html.Partial("_LeftMenu")
<div class="col-md-10">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Change Application Status</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">

                <div class="col-md-7">
                    <table style="width:100%;border:2px solid black; text-align:center ;">
                        <tr style="border:1px solid black;">
                            <th style="border:1px solid black;">Staff Name</th>
                            <th style="border:1px solid black;"> Start Date</th>
                            <th style="border:1px solid black;">End Date</th>
                            <th style="border:1px solid black;">Duration Days</th>
                            <th style="border:1px solid black;">Status</th>

                        </tr>
                        <tr style="border:1px solid black;">
                            <td style="border:1px solid black;">Sukhpreet Singh</td>
                            <td style="border:1px solid black;">10/10/2016</td>
                            <td style="border:1px solid black;">20/10/2016</td>
                            <td style="border:1px solid black;">10</td>
                            <td style="border:1px solid black;">Approved</td>

                        </tr>
                        <tr style="border:1px solid black;">
                            <td style="border:1px solid black;">Zobad Mahmood</td>
                            <td style="border:1px solid black;">10/08/2016</td>
                            <td style="border:1px solid black;">20/08/2016</td>
                            <td style="border:1px solid black;">10</td>
                            <td style="border:1px solid black;">Approved</td>

                        </tr>
                        @**Html.EditorFor(model => model.staffName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.staffName, "", new { @class = "text-danger" })**@
                    </table>
                    <hr />
                    <table style="width:100%;">
                        <tr>
                            <td>
                                <div class="form-group col-md-6">
                                    <label for="preStatus">Current Status: </label>
                                    <input id="preStatus" type="text" disabled value="Approved" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-8">
                                    <label for=combobox2>New Status: </label>
                                    <select id="combobox2">
                                        <option>Reject</option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>                    
                   <hr />
                    <table style="text-align:left ;">
                        <tr>
                           <td><label for="tArea">Comment</label>
                            <br />
                           <textarea id="tArea"></textarea>
                            </td></tr></table>
                </div>
            </div>
            
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
           

        </div>
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
